@font-face {
    font-family: impact;
    src:url(../Fonts/impact.ttf);
}
@font-face {
    font-family: nunito-bold;
    src:url(../Fonts/nunito-bold.ttf);
}@font-face {
    font-family: verdana_1;
    src:url(../Fonts/verdana_1.ttf);
}